 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 609px;
}

.u-section-1 .u-group-1 {
  width: 950px;
  min-height: 410px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 718px;
  margin: 81px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: none;
  margin: 0 0 0 auto;
  padding: 15px 39px 15px 38px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 58px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 0 20px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 29px;
  padding: 12px 46px 12px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-group-1 {
    min-height: 310px;
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 12px 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 78px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}