 .u-section-1 {
  background-image: linear-gradient(#fef9e6, #fbeced);
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  height: auto;
  min-height: 395px;
  margin-top: 0;
}